body{
    min-width: 300px;
    background-color: #1e1c1c;
    color: rgb(224, 245, 220);
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
}

.hding{
    color: rgb(78, 173, 90);
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    padding: 5% 0% 10% 0%;
}

.current{
    display: block;
}

.other{
    display: none;
}

#switch{
    margin: 0;
    border-color: #1e1c1c;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    font-size: 120%;
    transition: .5s;
}

#switch:hover{
    cursor: pointer;
    background-color: #4a4444;
}

.top{
    display: flex;
    flex-direction: row;
}

#cp{
    font-size: 150%;
    margin-bottom: 0px;
    flex: 8;
}

#add{
    flex: 1;
    font-size: 230%;
}

#add:hover{
    cursor: pointer;
}

#hr1{
    margin-top: 0;
    margin-bottom: 5%;
}

#hr2{
    margin-top: 5%;
}

#bm{
    display: flex;
    flex-direction: row;
    padding: 5% 5% 4% 5%;
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: #1e1c1c;
    background-color: #4a4444;
}

svg{
    width: 20px;
    height: 20px;
}

#book{
    flex: 5;
    text-align: center;
    transition: .5s;
}

#book:hover{
    cursor: pointer;
    font-size: 115%;
}

#imag{
    flex: 1;
    transition: transform .5s;
}

#imag:hover{
    cursor: pointer;
    transform: scale(1.25);
}
