body{
    min-width: 300px;
    background-color: #433b3b;
    color: rgb(224, 245, 220);
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
}

.hding{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 10% 0% 10% 0%;
}

.current{
    display: block;
}

.other{
    display: none;
}

#switch1, #switch2{
    text-align: center;
}